:root {
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;

    /* Colors 
        - Background & text colors are in .light and .dark classes
        - Tag Colors are in TagDisplay
    */
}

body {
    line-height: 1.5;
    background: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: clip;
}

h1 {
    line-height: 1.2;
    text-align: center;
}
h2 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid 2px #3c3c3ccc;
}
/* 
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; } */

p, li {
    line-height: 1.75;
}

a {
    text-decoration: underline;
    color: var(--color-primary);
}

a:hover {
    text-decoration: underline;
}

details summary {
    cursor: pointer;
}

details summary > * {
    display: inline;
    padding-left: 5px;
}

a[target="_blank"]:after {
    content: "";
    width: 1em;
    height: 1em;
    margin: 0 0.05em 0 0.15em;
    background: url("../images/General/NewTabIcon.png");
    background-size: contain;
    display: inline-block;
    vertical-align: text-bottom;
}

.card p:last-child {
    margin-bottom: 0px;
}

button {
    background-color: var(--color-accent);
    border-radius: 0.7rem;
    border-color: var(--color-accent);
    border-style: solid;
    color: var(--color-text);
    padding: 0.5rem;
    white-space: nowrap;
    transition: all 0.2s;
}

button:hover {
    cursor: pointer;
    background-color: #111;
}

button:active {
    box-shadow: 0 0 5px 5px var(--color-accent);
    transform: scale(1.075);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    background-color: rgb(86, 86, 86);
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 10px;
}

/* Custom Global Classes */

/* Themes */
.light {
    
    --color-background: #121212;
    --color-primary: #476beb;
    --color-secondary: #2b2b2b;
    --color-accent: #303030;
    --color-text: #ffffff;

    --color-btn: #476beb;

    --color-border: #FFFFFF;
}

.dark {
    --color-background: #2b2b2b;
    --color-primary: #7593FF;
    --color-secondary: #121212;
/* 
    --color-secondary: #2b2b2b;
    --color-primary: #7593FF;
    --color-background: #121212; */
    --color-accent: #555;
    --color-text: #ffffff;

    --color-btn: #476beb;

}

/* Card */

.card {
    background-color: var(--color-secondary);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card img {
    display: block;
    border-radius: 10px;
}

.card h2 {
    margin-top: 0;
}

.card p:first-child {
    margin-top: 0;
}

/* Other Classes */

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 30px;
}

.btn {
    display: flex;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    background: var(--color-btn);
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-decoration: none;
    justify-content: center;
}

/* Similar to .btn */
.inlineBtn {
    display: inline-block;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    background: var(--color-btn);
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    transform: translateY(-0.1rem);
    min-width: max-content;
}

a[target="_blank"].inlineBtn:after {
    margin-left: .3rem;
    transform: translateY(-1.5px);
    filter: brightness(1000%);
}

.date {
    font-style: italic;
}

/* YouTube Embed */
iframe[src*="youtube.com"] {
    width: 100%;
    min-width: 300px;
    max-width: 50%;

    display: block;
    margin: 0 auto;

    aspect-ratio: 16/9;
}

/* Tags */

.tag-container.card {
    border: 2px solid var(--color-accent);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 20px 5px 20px;
    margin-bottom: 20px;
}

.tag-container.tag-container-small.card {
    border: none;
    padding: 0;
    /* padding-top: 0;
    padding-bottom: 0; */
    margin-bottom: 0px; 
}

.tag-container.card p {
    margin-top: 10px;
    margin-right: 10px;
}
.tag-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    list-style: none;
}

.tag {
    padding: 1px 10px;
    margin: 10px 10px 10px 0px;
    border-radius: 20px;
    border-style: solid;
}

/* Tags Colors */
.software-tag {
    background-color: #008080;
    border-color: #008080;
}
.project-type-tag {
    background-color: #B33333;
    border-color: #B33333;
}
.platform-tag {
    background-color: #5f7e20;
    border-color: #5f7e20;
}
.status-tag {
    background-color: black;
    border-color: grey;
    border-style: solid;
}
/* Other colors for future tags: 
    #416EAF
    #228B22 (Forest Green)
*/
.unknownTag {
    background-color: #000000;
    border-color: #000000;
}

.filterPanel .tag {
    opacity: 0.5;
    cursor: pointer;
}

.tag.includeTag , .tag.excludeTag{
    opacity: 1;
}

.excludeTag {
    background-color: transparent;
    border-style: solid;
}

.includeTag::before {
    font-weight: bold;
    content: "+"
}

.excludeTag::before {
    font-weight: bold;
    content: "-"
}

/* Cross Component Styles */

.tooltip-content p,
.tooltip-content h3 {
    margin: 0;
}

/* Utility */
.inlineBlock {
    display: inline-block;
    width: 49%;
}

/* Media Queries */