<header class="header">
    <div class="container">
            <a href="index.html">Ethan Ong</a>
        <nav>
            <ul>
                <li><a href="/" id="header-home">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
                <!-- <li><a href="index.html">
                    <img src="img/settings.svg" alt="" />
                </a></li> -->
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        height: 70px;
        background-color: var(--color-secondary);
        font-family: 'Calibri', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .header nav ul {
        display: flex;
        list-style: none;
    }
    
    .header nav ul li {
        padding: 0 10px;
    }

    .header a {
        color: var(--color-text);
    }
    @media screen and (max-width: 650px) {
    .header {
        height: 250px;
    }

    .header .container {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .header nav ul {
        flex-direction: column;
        padding: 0;
        align-items: center;
        margin: 0;
    }

    #header-home {
        display: none;
    }
}

</style>