<header class="header">
    <div class="container">
            <a href="/">Ethan Ong</a>
        <nav>
            <ul>
                <li id="header-home"><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About</a></li>
                <!-- <li><a href="index.html">
                    <img src="img/settings.svg" alt="" />
                </a></li> -->
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        height: 70px;
        background-color: var(--color-background);
        font-family: 'Calibri', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 1px solid;
    }
    
    .header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;
        padding: 0 30px;
        max-width: 1500px;
    }
    
    .header nav ul {
        display: flex;
        list-style: none;
    }
    
    .header nav ul li {
        padding: 0 10px;
    }

    .header a {
        text-decoration: none;
        color: var(--color-text);
    }

    .header a:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 515px) {
    /* .header {
        height: 250px;
    }

    .header .container {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .header nav ul {
        flex-direction: column;
        padding: 0;
        align-items: center;
        margin: 0;
    } */

    #header-home {
        display: none;
    }

    ul {
        padding-left: 20px;
    }
}

</style>

<!-- TODO: Highlight which page is the user at. Use typescript to check from the url? -->