---
import type { HeadingWithSubheadings } from './TableOfContent.astro';


export interface Props {
    headings: HeadingWithSubheadings[];
}

const { headings } = Astro.props as Props;


---

<ul>
    {headings.map(heading => {
        return (
            <li>
                <a href={`#${heading.text.toLowerCase().replaceAll(" ", "-")}`}>{heading.text}</a>
                {heading.subheadings.length > 0 && <Astro.self headings={heading.subheadings} />}
            </li>
        );
    })}
</ul> 