---
import type { Tags } from '../others/tags';
import Tag from './Tag.astro';

export interface Props {
    tags: Tags[],
    project: string, // To prevent duplicate ids
}

const {tags, project} = Astro.props as Props;
---

<div class="tag-container card">
    <p>Tags:</p>
    <ul>
        {tags.map(tag => (
            <Tag tag={tag} project={project}/>
          ))}
    </ul>
</div>