---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import '../styles/global.css';
// import { Sprite } from 'astro-icon';

export interface Props {
    title: string;
    description: string;
    darkMode?: boolean;
}

const { title, description, darkMode = true} = Astro.props as Props;

---

<!-- 
    Hello Fellow Developer!

    If you have any suggestions for improvements, I'd love your feedback.

    Also, if you're impressed by my work and are considering me for a project, feel free to reach out.  
    I'm always on the lookout for interesting and reasonably priced projects, especially if my schedule allows.

    You can contact me at:
    Email: gnoxnahte.dev@gmail.com
    Twitter: https://twitter.com/GnoxNahteDev
    GitHub: https://github.com/GnoxNahte
    LinkedIn (Profile in progress): https://www.linkedin.com/in/ethanongsg/
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>{title}</title>
    <ViewTransitions />
</head>
<body class = {darkMode ? 'dark' : 'light'}>
    <Header/>
    <!-- <Sprite.Provider>  For astro-icon package: https://github.com/natemoo-re/astro-icon#usage -->
        <slot/> 
    <!-- </Sprite.Provider> -->
</body>
</html>

<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>