---
import Header from '../components/Header.astro';
import '../styles/global.css';

export interface Props {
    title: string;
    description: string;
    darkMode?: boolean;
}

const { title, description, darkMode = true} = Astro.props as Props;

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>{title}</title>
</head>
<body class = {darkMode ? 'dark' : 'light'}>
    <Header/>
    <slot/> 
</body>
</html>

<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>